body {
    padding-top: 5rem;
}


h1{
    font-size: larger;
    color:grey;
    font-weight:600;
    text-shadow: 1px 1px;
}

p{
    color:grey;
    font-weight:400;
}

img{
    height:57%;
    width:30%;
    filter:contrast(120%);
}

#about{
    color:grey;
    font-size:16px;
    font-style:italic;
}

.Top{
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(247, 202, 201));
    height:250px;
    width:500px;
    text-align:center;
    padding:10px;
    border-radius:10px 10px 0px 0px;
}

.Text{
    padding-left:70px;
    padding-right:70px;
    display: flex;
    flex-direction:row;
    justify-content:space-evenly;
}

.Number{
    padding-left:50px;
    padding-right:70px;
    display: flex;
    flex-direction:row;
    justify-content:space-evenly;
}

.Bot{
    padding-top:10px;
    padding-left:40px;
    padding-right:40px;
    height:250px;
    width:500px;
    text-align: center;
    border:1px solid grey;
    border-radius:0px 0px 10px 10px;
}

button{

    background-color:rgb(126,211,33);
    padding: 4px 28px;
    border-radius:8px;
    color:white;
    font-weight:600;
    border:none;
}

img{
    border-radius:50%;
}

section.Number > p{
    font-weight:bold;
}