{% extends "base.html" %} 

{% block main%}
<div>
    <section class="Top">
        <img src="{{ url_for('static', filename='IDM.jpg') }}" alt="Picture of Jason Marshall">
        <h1>GodSpeed Kite</h1>
        <p>@TakashiZenkou<br>
        Spanish Town, Ireland<br>
        {{date}}</p>
    </section>
    <section class="Bot">
        <p id="about">My name is GodSpeed Kite, I live in Jamaica and am age 21. I like playing video games and editing content in my spare time. In the future I hope to become a professional content creator.</p>
        <section class="Number">
            <p>200</p>
            <p>200</p>
            <p>100</p>
        </section>
        <section class="Text">
            <p>Posts</p>
            <p>Following</p>
            <p>Followers</p>
        </section>
        <button type="button">Follow</button>
    </section>
</div>
{% endblock%}
